<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Passport.js | Authentication</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="/logo.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <style>
    body{
      margin: 0;
      padding: 0;
      font-family: 'Poppins', sans-serif;
      background-color: #181818;
      color: #181818;
    }

    .section{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 10% 0 0;
    }

    .bold{
      font-weight: 700;
    }

    .box{
      background-color: #eee;
      padding: 5% 7%;
      border-radius: 20px;
      width: 17%;
    }

    .page-heading{
      font-size: 2rem;
      font-weight: 700;
      margin-bottom: 10%;
      display: block;
    }

    .page-text{
      font-size: 0.9rem;
      margin-bottom: 5%;
      display: block;
    }

    .form-label{
      display: block;

    }

    .form-text{
      display: block;
      outline: none;
      padding: 2.5% 4%;
      border: 1px solid #888;
      border-radius: 5px;
      width: 90%;
    }

    .form-text:active, .form-text:focus{
      border: 2px solid #8758FF;
    }

    .form-div{
      margin: 3% 0;
      font-size: 0.9rem;
    }

    .submit-button{
      background-color: #8758FF;
      color: #F2F2F2;
      border: 1px solid #8758FF;
      cursor: pointer;
      padding: 5%;
      margin: 3% 0;
      font-size: 1rem;
      font-weight: 700;
      width: 100%;
      border-radius: 10px;
    }

    .submit-button:hover{
      background-color: #F2F2F2;
      color: #8758FF;
      border: 2px solid #8758FF;
    }

    .followed-text{
      font-size: 0.9rem;
    }

    .red{
      color: red;
    }

  </style>
</head>

<body>
    <div class="section">
