<%- include("partials/header"); -%>
<div class="box">
    <span class="page-heading">Hi <%= name %></span>
    <span class="page-text">You have successfully logged in. Avoid hassel of logging in everytime you visit here. This site keeps <span class="bold">track of your session.</span></span>
    <form class="form" action = "/logout?_method=DELETE" method="POST">
        <button class="submit-button" type="submit">Log Out</button>
    </form>
</div>
<%- include("partials/footer"); -%>